@import "tailwindcss";

@font-face {
    font-family: 'HeroLight';
    src: url('/fonts/HeroLight-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'HeroLight', sans-serif;
}